.icon-arrow-11 { background-image: url(png/mod/arrow-11.png); background-repeat: no-repeat; }

.icon-arrow-tiny { background-image: url(png/mod/arrow-tiny.png); background-repeat: no-repeat; }

.icon-bear-primary { background-image: url(png/mod/bear-primary.png); background-repeat: no-repeat; }

.icon-bear-2 { background-image: url(png/mod/bear-2.png); background-repeat: no-repeat; }

.icon-bear-3 { background-image: url(png/mod/bear-3.png); background-repeat: no-repeat; }

.icon-bear { background-image: url(png/mod/bear.png); background-repeat: no-repeat; }

.icon-cat,
#el-gato { background-image: url(png/mod/cat.png); background-repeat: no-repeat; }

.icon-fishing-hook { background-image: url(png/mod/fishing-hook.png); background-repeat: no-repeat; }

.icon-flag { background-image: url(png/mod/flag.png); background-repeat: no-repeat; }

.icon-gear { background-image: url(png/mod/gear.png); background-repeat: no-repeat; }

.icon-gradients-flat-opacity { background-image: url(png/mod/gradients-flat-opacity.png); background-repeat: no-repeat; }

.icon-gradients { background-image: url(png/mod/gradients.png); background-repeat: no-repeat; }

.icon-grunticon { background-image: url(png/mod/grunticon.png); background-repeat: no-repeat; }

.icon-gummy-bears-1 { background-image: url(png/mod/gummy-bears-1.png); background-repeat: no-repeat; }

.icon-gummy-bears-2,
nav li a.deadly-bears:before { background-image: url(png/mod/gummy-bears-2.png); background-repeat: no-repeat; }

.icon-Home_Media { background-image: url(png/mod/Home_Media.png); background-repeat: no-repeat; }

.icon-Image_Exchange { background-image: url(png/mod/Image_Exchange.png); background-repeat: no-repeat; }

.icon-Internet-no-width-no-height { background-image: url(png/mod/Internet-no-width-no-height.png); background-repeat: no-repeat; }

.icon-Internet { background-image: url(png/mod/Internet.png); background-repeat: no-repeat; }

.icon-Internet_FP2 { background-image: url(png/mod/Internet_FP2.png); background-repeat: no-repeat; }

.icon-Internet_Radio { background-image: url(png/mod/Internet_Radio.png); background-repeat: no-repeat; }

.icon-Internet_Tel { background-image: url(png/mod/Internet_Tel.png); background-repeat: no-repeat; }

.icon-Intranet { background-image: url(png/mod/Intranet.png); background-repeat: no-repeat; }

.icon-map { background-image: url(png/mod/map.png); background-repeat: no-repeat; }

.icon-plus { background-image: url(png/mod/plus.png); background-repeat: no-repeat; }

.icon-star { background-image: url(png/mod/star.png); background-repeat: no-repeat; }